# This file defines which files will not be deployed to Cloud Run

export/
import/
single_test.py*

# Git files 
.git/
.git/**
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
