<!DOCTYPE html>
<html lang="fi">
<head>
    <title>Taxai - hyönteisten tunnistus</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <img src="/static/logo_small.png" alt="" id="logo">
            <p><a href="https://biomi.org">biomi.org</a> &raquo; Luteiden tunnistus</p>
        </header>
        
        <div class="section-1 cardwrapper">
            <div class="upload-area" id="dropZone">
                <div id="spinner" class="spinner" style="display: none;"></div>
                <div class="upload-content">
                    <p>
                        Pudota kuva tähän tai
                        <label for="fileInput" class="button">Valitse tiedosto</label>
                    </p>
                    <input type="file" id="fileInput" accept="image/*" style="display: none;">
                </div>
                <div class="image-container">
                    <img id="uploadedImage" alt="">
                </div>
            </div>
        </div>

        <div class="section-2 cardwrapper">
            <div class="result-area" id="resultArea" style="display: none;">
                <h4>Laji</h4>
                <p>
                    <em id="species-name" class="value">-</em>,
                    <span id="species-name-fi" class="value">-</span>
                </p>
                <p>
                    Luotettavuus: 
                    <span id="species-confidence" class="value">-</span>,
                    <span id="species-confidence-text" class="value">-</span>
                </p>
                <p>
                    Havaintoja Suomesta:
                    <span id="occurrence-count" class="value">-</span>
                </p>
                <p>
                    <span id="notes" class="value"></span>
                </p>
                <h4>Suku</h4>
                <p>
                    <em id="genus-name" class="value">-</em>
                <p>
                    Luotettavuus: 
                    <span id="genus-confidence" class="value">-</span>
                    <span id="genus-confidence-text" class="value">-</span>
                </p>
                <hr>
                <div id="description">
                    -
                </div>
            </div>
        </div>

        <div class="section-3 cardwrapper">
            <div class="info-card">
                <p>Tämä sovellus auttaa määrittämään luteita ehdottamalla mahdollisia tunnistuksia tekoälymallin avulla. Sovelluksen antamiin tunnistuksiin ei voi täysin luottaa, ja lajien tunnistamisessa ylipäätään on aika kyse todennäköisyyksistä. Tarkista määritys lajikohtaisista tuntomerkeistä.</p>
            </div>
        </div>

        <div class="section-4 cardwrapper">
            <p><a href="https://biomi.org">Mikko Heikkinen, biomi.org</a>, <a href="https://github.com/mikkohei13/taxai">avoin lähdekoodi GitHubissa</a></p>
        </div>

    </div>

    <script src="/static/script.js"></script>
</body>
</html> 

